body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #ffe1e6, #ffe9f0);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    flex-direction: column;
    color: White;
    background-color:black;
}

.invitation {
    background: #fff;
    padding: 30px 20px; /* thoda kam padding for small screens */
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    width: 90%;
    max-width: 400px;
}

.invitation h1 {
    font-size: 36px;
    color: #c0275e;
}

.invitation h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #a61947;
}

.details {
    font-size: 18px;
    color: #555;
    margin: 8px 0;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 25px 0;
    padding: 0 10px; /* thoda side se gap dena mobile ke liye */
}

.time {
    background: #ffe1e6;
    padding: 15px 10px;
    border-radius: 15px;
    text-align: center;
    width: 70px;
    flex: 1 1 70px; /* responsive blocks */
    max-width: 80px;
}

.time span {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #c0275e;
}

.time small {
    font-size: 14px;
    color: #555;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #c0275e;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.btn:hover {
    background: #a61947;
}
